/*Dit zorgt ervoor dat er smooth over de website wordt gescrold.*/

* /*alles selecteren*/ {
    scroll-behavior: smooth;
}

body /*alles hier in wordt toegepast op de volledige body*/ {
    background-color: rgb(206, 215, 255);
    color: black; /*Dit maakt de tekst kleur zwart. */
    text-decoration: none; /*Dit zorgt ervoor dat er geen tekst underlined is of van die dingen*/
    font-size: 18px;
    font-family: Arial;
}


/* Opmaak van de header */
header ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    justify-content: center;
    font-style: italic;
    text-decoration: none;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding-left: 0;
}

header ul a{
    color: rgb(55, 55, 114);
    font-size: 25px;
    text-decoration: none;
}

/* Dit zorgt ervoor dat de tekst van de huidige pagina gekleurd is in de header. */
.active a {
    color: rgb(108, 100, 228);
}

/* footer centreren */
#footer {
    display: flex;
    justify-content: center;
}

/* Dit gaat alle tekst in main declareren. */
main {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-right: 250px;
    padding: 30px;
    border:  3px solid rgb(136, 117, 161);
    border-radius: 25px;
    overflow: auto;
    flex-shrink: 0;
    flex-wrap: wrap; /*AANPASSEN*/
}

/* Hiermee worden alle foto's op de website aangepast naar verlangen. */
.foto {
    width: 450px;
    height: auto;
    border-radius: 10px;
}

.fotoklein {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.link {
    color: black;
    text-decoration: underline;
}

/* Content voor index.html */


/* Content voor html.html */



/* Content voor css.html */

#pdfCSS nav {
    background-color: rgb(121, 176, 240);
    box-shadow: 0 0 3 0;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

article .linkPdf {
    color: rgb(85, 79, 72);

}

/* Content voor javascript.html */

article .codeObject {
    display: block;
    overflow: auto;
    padding: 5px; 
    background-color: black;
    color: aliceblue;
    border: 3px solid black;
    border-radius: 10px;
}

#pdfJS nav {
    background-color: rgb(121, 176, 240);
    box-shadow: 0 0 3 0;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

article .linkPdf {
    color: rgb(85, 79, 72);

}

.tekst-rechts {
    text-align: right;
}

.lijnUit {
    padding: 5px;
    border-radius: 3px; 
    font-size: 17px;
    background-color: rgb(61, 21, 99);
    color: aliceblue;
}



